<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Region and City Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<head>
    <meta charset="UTF-8">
    <title>Region and City Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <div class="mb-4 p-4 bg-light">
            <h2 class="text-primary">Select a Region and City in Estonia</h2>
        </div>
        <div class="p-4">
            <div class="mb-4">
                <div class="mb-4">
                    <form id="region-form">
                        <label for="region-autocomplete" class="form-label">Select a Region</label>
                        <div id="region-autocomplete" class="autocomplete">
                            <input type="text" id="region-input" class="form-control" placeholder="Type a region..."
                                name="region">
                            <div id="region-list" class="region-autocomplete-list"></div>
                        </div>
                        <button id="submit-region" type="button" class="btn btn-primary">Submit Region</button>
                    </form>
                </div>

                <div class="mb-4">
                    <form id="stop-form" action="/search" method="get">
                        <label for="stop-autocomplete" class="form-label">Select a Stop</label>
                        <div id="stop-autocomplete" class="autocomplete">
                            <input type="text" id="stop-input" class="form-control" placeholder="Type a stop..."
                                name="stop">
                            <div id="stop-list" class="stop-autocomplete-list"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>


                <div class="mb-4" id="bus-list-container">
                    <h3 class="text-primary">List of Buses</h3>
                    <div id="bus-list"></div>
                </div>

                <div class="mb-4" id="arrivals-container" class="card">
                    <h3 class="text-primary">Closest Arrivals</h3>
                </div>

                <button id="clear-button" type="button" class="btn btn-danger">Clear All</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>