<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Region and City Selection</title>
    <style>
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        .autocomplete-list {
            position: absolute;
            z-index: 1;
            width: 100%;
            background-color: #f1f1f1;
            max-height: 150px;
            overflow-y: auto;
            border: 1px solid #ddd;
        }

        .autocomplete-list div {
            padding: 10px;
            cursor: pointer;
        }

        .autocomplete-list div:hover {
            background-color: #ddd;
        }
    </style>

</head>

<body>

    <div class="container mx-auto mt-10 bg-white">
        <div class="mb-4 p-6">
            <h2>Select a Region and City in Estonia</h2>
        </div>
        <div class="p-6">
            <div class="mb-4">
                <div class="mb-4">
                    <form id="region-form">
                        <label for="region-autocomplete">Select a Region</label>
                        <div id="region-autocomplete" class="autocomplete">
                            <input type="text" id="region-input" placeholder="Type a region..." name="region">
                            <div id="region-list" class="autocomplete-list"></div>
                        </div>
                        <button id="submit-region" type="button">Submit Region</button>
                    </form>
                </div>

                <div class="mb-4">
                    <form id="stop-form" action="/search" method="get">
                        <label for="stop-autocomplete">Select a Stop</label>
                        <div id="stop-autocomplete" class="autocomplete">
                            <input type="text" id="stop-input" placeholder="Type a stop..." name="stop">
                            <div id="stop-list" class="autocomplete-list"></div>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <div class="mb-4" id="bus-list-container">
                    <h3>List of Buses</h3>
                    <div id="bus-list"></div>
                </div>

                <div class="mb-4" id="arrivals-container">
                    <h3>Closest Arrivals</h3>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const regionInput = document.getElementById("region-input");
            const regionList = document.getElementById("region-list");

            const stopInput = document.getElementById("stop-input");
            const stopList = document.getElementById("stop-list");

            const submitRegionButton = document.getElementById("submit-region");
            const regionForm = document.getElementById("region-form");

            const stopForm = document.getElementById("stop-form");
            const busList = document.getElementById("bus-list");
            const busListContainer = document.getElementById("bus-list-container");

            submitRegionButton.addEventListener("click", function () {
                const selectedRegion = regionInput.value;

                if (selectedRegion) {
                    fetch(`/get_stops?region=${selectedRegion}`)
                        .then(response => response.json())
                        .then(data => updateStopDropdown(data.stops))
                        .catch(error => console.error('Error fetching stops:', error));
                }
            });

            stopForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const selectedStop = stopInput.value;
                const selectedRegion = regionInput.value;

                if (selectedStop) {
                    navigator.geolocation.getCurrentPosition(
                        function (position) {
                            const userLatitude = position.coords.latitude;
                            const userLongitude = position.coords.longitude;

                            const closestStopPromise = getClosestStop(userLatitude, userLongitude, selectedStop, selectedRegion);

                            closestStopPromise.then((result) => {
                                const closestStopId = result.closest_stop.stop_id;
                                fetch(`/get_buses?stop=${selectedStop}&region=${selectedRegion}&closest_stop=${closestStopId}`)
                                    .then(response => response.json())
                                    .then(data => displayBusList(data.buses))
                                    .catch(error => console.error('Error fetching buses:', error));
                            }).catch((error) => {
                                console.error('Error getting closest stop:', error);
                            });
                        },
                        function (error) {
                            console.error('Error getting user location:', error);
                        }
                    );
                }
            });

            regionInput.addEventListener("input", function () {
                const inputValue = this.value.toLowerCase();

                regionList.innerHTML = "";

                fetch(`/get_regions_autocomplete?input=${inputValue}`)
                    .then(response => response.json())
                    .then(data => {
                        data.regions.forEach(region => {
                            const listItem = document.createElement("div");
                            listItem.textContent = region;
                            listItem.addEventListener("click", function () {
                                regionInput.value = region;
                                regionList.innerHTML = "";
                                //fetchStopsAndUpdateDropdown();
                            });
                            regionList.appendChild(listItem);
                        });
                    })
                    .catch(error => console.error('Error fetching regions:', error));
            });

            let selectedStopId;

            stopInput.addEventListener("input", function () {
                const inputValue = this.value.toLowerCase();
                const selectedRegion = regionInput.value;

                stopList.innerHTML = "";

                fetch(`/get_stops?region=${selectedRegion}&stop=${inputValue}`)
                    .then(response => response.json())
                    .then(data => {
                        data.stops.forEach(stop => {
                            const listItem = document.createElement("div");
                            listItem.textContent = stop.stop_name;
                            listItem.addEventListener("click", function () {
                                stopInput.value = stop.stop_name;
                                stopList.innerHTML = "";
                                selectedStopId = stop.stop_name;
                            });
                            stopList.appendChild(listItem);
                        });
                    })
                    .catch(error => console.error('Error fetching stops:', error));
            });

            regionInput.addEventListener("focus", function () {
                regionList.innerHTML = "";
            });

            regionForm.addEventListener("submit", function (event) {
                event.preventDefault();
            });

            function updateRegionDropdown(regions) {
                regionList.innerHTML = "";
                regions.forEach(region => {
                    const listItem = document.createElement("div");
                    listItem.textContent = region;
                    listItem.addEventListener("click", function () {
                        regionInput.value = region;
                        regionList.innerHTML = "";
                        //fetchStopsAndUpdateDropdown();
                    });
                    regionList.appendChild(listItem);
                });
            }

            function updateStopDropdown(stops) {
                stopList.innerHTML = "";

                stops.forEach(stop => {
                    const listItem = document.createElement("div");
                    listItem.textContent = stop.stop_name;
                    listItem.addEventListener("click", function () {
                        stopInput.value = stop.stop_name;
                        stopList.innerHTML = "";
                        const selectedStopId = this.dataset.stopId;
                    });
                    stopList.appendChild(listItem);
                });
            }

            function displayBusList(buses) {
                const uniqueBusesMap = new Map();

                buses.forEach((bus) => {
                    const tripLongName = bus.trip_long_name;
                    if (uniqueBusesMap.has(tripLongName)) {
                        uniqueBusesMap.get(tripLongName).push(bus);
                    } else {
                        uniqueBusesMap.set(tripLongName, [bus]);
                    }
                });

                const sortedUniqueBuses = [...uniqueBusesMap.values()].sort((a, b) => {
                    const numA = parseInt(a[0].route_short_name.replace(/\D/g, ''), 10);
                    const numB = parseInt(b[0].route_short_name.replace(/\D/g, ''), 10);
                    return numA - numB;
                });

                busList.innerHTML = "";

                sortedUniqueBuses.forEach((buses) => {
                    const busButton = document.createElement("button");
                    const firstBus = buses[0];
                    busButton.textContent = `${firstBus.route_short_name} - ${firstBus.trip_long_name}`;

                    busButton.closestStop = firstBus.closest_stop;
                    console.log(firstBus.closest_stop)
                    busButton.serviceID = buses.map(bus => bus.service_id);
                    busButton.bDeparture = buses.map(bus => bus.b_departure);
                    busButton.bArrival = buses.map(bus => bus.b_arrival);
                    console.log(busButton.bDeparture)
                    console.log(busButton.bArrival)
                    console.log(busButton.serviceID)

                    busList.appendChild(busButton);
                });
            }

            function getClosestStop(userLatitude, userLongitude, selectedStop, selectedRegion) {
                console.log(selectedRegion)
                return fetch(`/get_closest_stop?longitude=${userLongitude}&latitude=${userLatitude}&selected_stop=${selectedStop}&stop_area=${selectedRegion}`)
                    .then(response => response.json())
                    .catch(error => {
                        console.error('Error getting closest stop:', error);
                        throw error;
                    });
            }

            busListContainer.addEventListener("click", function (event) {
                const target = event.target;

                if (target.tagName === "BUTTON") {
                    displayBusTimes(target);
                }
            });

            function displayBusTimes(busButton) {
                const arrivalsContainer = document.getElementById('arrivals-container');
                arrivalsContainer.innerHTML = "";

                const params = new URLSearchParams({
                    service_id: busButton.serviceID,
                    bDeparture: busButton.bDeparture,
                    bArrival: busButton.bArrival,
                });

                fetch(`/get_timetable?${params.toString()}`)
                    .then(response => response.json())
                    .then(timetableData => {
                        timetableData.forEach((arrival, index) => {
                            const arrivalItem = document.createElement("div");
                            arrivalItem.textContent = `Bus ${busButton.textContent}, Departure Time From Closest Stop (${busButton.closestStop}): ${arrival.bDeparture} Arrival Time to Destination: ${arrival.bArrival}, Day: ${arrival.day}`;
                            arrivalsContainer.appendChild(arrivalItem);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }
        });

    </script>

</body>

</html>